.popup_form_users {
  color: black;
  background-color: white;
  position: absolute;
  top: 15%;
  left: 50%;
  width: 600px;
  height: 300px;
  padding: 50px;
  border-radius: 25px;
  /* animation: fadeIn 2s; */
  opacity: 1;
  display: flex;
  flex-direction: column;
  /* margin-top: -100px; */
  margin-left: -250px;
}
.select_user_types{
    margin: 20px 20px;
    height: 50px;
}
.form_label{
    padding: 5px 5px;
}