.service{
  padding-top: 50px;
}

.service_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 
}

.Serve {
  font-size: 50px;
  /* font-weight: 900; */
  text-decoration: underline;
  text-transform: uppercase;
  color: black;
  font-family: 'Montserrat' ;
  /* position: relative; */
  /* width: fit-content; */
  margin-bottom: 30px;
  font-weight:800;
  line-height: 60.95px;
}

.service_cat {
  /* margin-top: 20px; */
  margin-bottom: 20px;
  height: 200px;

}

.service_cat li {
  padding: 20px;
  /* height: 00px; */
  
  height: 60px;
  
}
.service_cat li:not(:last-child){

  margin-bottom: 24px;
}
.service_cat li div{
  list-style: none;
  font-size: 30px;
  font-weight:600 ;
  font-family: 'Lato';
  color: #888888;
  line-height: 50px;
  font-style: normal;
}
.service_cat li sup{
  list-style: none;
  /* font-size: 16px ; */
  /* font-family: "Lato", sans-serif; */
  /* color: #000000; */
}
.service_cat li div p.active {
  color: blue;
  /* cursor: pointer; */
  /* text-decoration: underline; */
  font-size: 33px ;
}
.service_cat li div sup.active {
  color: blue;
  /* cursor: pointer; */
  /* text-decoration: underline; */
  font-size: 26px ;
}
/* right side section */

.right_side div {
  width: 600px;
  height: 450px;
  margin-bottom: 100px;

}

.right_side ul {
  /* float: right; */
  margin-top: 30px;
  /* padding-right: 20px; */
  list-style-type: none;
}

.right_side ul li {
  display: inline-block;
  background-color: #d9d9d9;
  color: rgb(0, 0, 0);
  border-radius: 35px;
  padding: 10px 20px;
  margin: 5px 10px;
  border: 0.5px solid black;
}

.right_side p {
  margin: 10px 20px;
  font-size: 26px;
  font-family: "Lato";
  font-style: normal;
  line-height: 40px;

  font-weight: 600;
  font-size: 30px;
  line-height: 36px;


}

.right_side a {
  padding: 20px 20px;
  font-size: 20px;

  color: #312df0;
  font-weight: bold;
  /* padding-bottom: 20px; */
  font-family: "Lato", sans-serif;
}



.left_side{
  display: flex;
  flex-wrap: wrap;
}

