.products {
  padding-top: 100px;
}

.products .sm-nav {
  position: relative;
}
.products .sm-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.products .sm-nav::after {
  position: absolute;
  content: "";
  left: 0;
  width: calc(100%);
  height: 1px;
  top: 1px;
  background-color: black;
}
.products .sm-nav::before {
  position: absolute;
  content: "";
  left: 0;
  width: calc(100%);
  height: 1px;
  bottom: 0px;
  background-color: black;
}

.products .sm-nav .location {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
}

.products .sm-nav .cart-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.products .sm-nav .cart-icon svg {
  font-size: 30px;
}

.products .sm-nav .cart-icon span {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  margin-left: 5px;
}

@media (max-width: 991px) {
  .products .sm-nav .location {
    font-size: 20px;
  }
  .products .sm-nav .cart-icon span {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .products .sm-nav .location {
    font-size: 12px;
  }
  .products .sm-nav .cart-icon svg {
    font-size: 16px;
  }
  .products .sm-nav .cart-icon span {
    font-size: 12px;
  }
}

.products > .container .products-title {
  width: 80%;
  margin: 70px auto;
}

@media (max-width: 767px) {
  .products > .container .products-title {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .products > .container .products-title h1 {
    font-size: 30px;
  }
}
.products > .container .products-title h3 {
  font-weight: 400;
  font-size: 37.4441px;
  font-family: "Abril Fatface";
}

.products > .container .products-title h1 {
  font-weight: 800;
  font-size: 166.19px;
  text-transform: uppercase;
  line-height: 0.9;
}

@media (max-width: 1919px) {
  .products > .container .products-title h1 {
    font-size: 160px;
  }
}

@media (max-width: 1749px) {
  .products > .container .products-title h1 {
    font-size: 136px;
  }
}
@media (max-width: 1499px) {
  .products > .container .products-title h1 {
    font-size: 109px;
  }
}

@media (max-width: 1199px) {
  .products > .container .products-title h1 {
    font-size: 90px;
  }
}

@media (max-width: 991px) {
  .products > .container .products-title h1 {
    font-size: 69px;
  }
}
@media (max-width: 767px) {
  .products > .container .products-title h1 {
    font-size: 66px;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .products > .container .products-title h1 {
    font-size: 50px;
  }
}

.products > .container .products-title h3:last-of-type {
  font-weight: 400;
  font-size: 37.4441px;
  font-family: "Abril Fatface";
  text-align: right;
}

@media (max-width: 485px) {
  .products > .container .products-title h1 {
    font-size: 40px;
  }

  .products > .container .products-title h3,
  .products > .container .products-title h3:last-of-type {
    font-size: 20px;
  }
}

@media (max-width: 385px) {
  .products > .container .products-title h1 {
    font-size: 20px;
  }
  .products > .container .products-title h3,
  .products > .container .products-title h3:last-of-type {
    font-size: 16px;
  }
}

.product-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.product-cards .product {
  width: 430px;
  margin-bottom: 30px;
}

@media (max-width: 1919px) {
  .product-cards .product {
    width:420px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1199px) {
  .product-cards .product {
    width: 420px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .product-cards .product {
    width: 70%;
    margin: 0 auto 30px;
  }
}


.product-cards .product-slider-img {
  background-color: #8562b0;
  width: 100%;
  height: 395px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.product-cards .product img {
  width: 300px;
  height: 300px;
  transition: left 0.3s ease-in-out;
  position: absolute;
}
.product-cards .product img:first-of-type {
  z-index: 1;
}

.product-cards .product:hover .product-slider-img img:first-of-type {
  left: -100%;
}
.product-cards .product img:last-of-type {
  left: 100%;
}

.product-cards .product:hover .product-slider-img img:last-of-type {
  left: 22.5px;
}
.product-cards .product .product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.product-cards .product .product-info .name {
  font-weight: 700;
  font-size: 25.5385px;
  text-transform: uppercase;
}
@media (max-width: 1499px) {
  .product-cards .product .product-info .name {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .product-cards .product .product-info .name {
    font-size: 16px;
  }
}
.product-cards .product .product-info .price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}
.product-cards .product .product-details .solds {
  font-size: 24px;
  font-weight: bold;
  color: gray;
}

@media (max-width: 767px) {
  .product-cards .product .product-info .name,
  .product-cards .product .product-info .price,
  .product-cards .product .product-details .solds {
    font-size: 16px;
  }
}


/* .product-cards a{
  color: inherit;
    text-decoration: inherit;
} */