.dash-nav{
    padding: 70px;
}
.date{
    font-size: 20px;
}
.dash-nav-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
}

.dash-nav-card{

    background-color: rgb(239, 239, 83);
    width: 15%;
    height: auto;
    text-align: center;
    margin: 15px;
    border-radius: 25pxذ;
}