.payment_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
  margin-left: 20px;
  text-align: center;
}
.payment_table,
.payment_table th,
.payment_table td {
  border: 1px solid #ddd;
  padding: 8px;
  /* border-radius: 25px; */
  text-transform: capitalize;
}
.payment_table tr:nth-child(even) {
  background-color: transparent;
}

.payment_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: transparent;
  color: white;
}

.total_income {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  float: right;
  display: flex;
  justify-content: flex-end;
}
.add_man {
  width: 300px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  border-color: transparent;
  background-color: green;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 600;
  margin: 20px;
}
button:hover {
  cursor: pointer;
}



.popup_form {
  color: black;
  background-color: white;
  position: absolute;
  top: 5%;
  left: 50%;
  width: 500px;
  padding: 50px;
  border-radius: 25px;
  /* animation: fadeIn 2s; */
  opacity: 1;
  display: flex;
  flex-direction: column;
  /* margin-top: -100px; */
  margin-left: -250px;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;} 
} 
.popup_form input{
    margin-bottom: 30px;
    height: 30px;
    margin-left: 20px;
}
.form_label{
    margin-left: 15px;

    text-transform: capitalize;
    color :rgb(70, 69, 69);
    font-size: medium;
}
.form_btns_popup button{
    margin-left: 20px;
    color: white;
    width: 70px;
    height: 35px;
    font-size: 20px;
    border-radius: 10px;
    border-color: transparent;
}
.form_btns_popup .save{
    background-color: green;

    margin-right: 20px;
}
.form_btns_popup .close{
    background-color: red;

    margin-right: 30px;
}
